{
    "email": {
        "imap": {
            "server": "example.com",
            "port": 1143
        },
    
        "smtp": {
            "server": "example.com",
            "port": 1025
        },

        "security": "starttls",
    
        "username": "spam@example.com",
        "password": "too_complex_password_to_remember",

        "from": "rm@example.com"
    },
    
    "db": {
        "host": "127.0.0.1",
        "database": "mailinator",
        "user": "postgres",
        "password": "mysecretpassword"
    }
}